<div class="jumbotron">
    <h2>AWH (Ava Wil Hebben)</h2>
    <p class="lead">AWH is a free web app that will allow you to select presents for my baby.</p>
    <p class="lead">If you have been invited please Login at the Log In link.</p>
    <p class="lead">Parents will <em>first</em> have to register at the Parent Sign Up link.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p></p>
    </div>
    <div class="col-md-4">
        <p></p>
    </div>
    <div class="col-md-4">
        <p>

        </p>
    </div>
</div>